# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.xml
*.properties
*.mf

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/week1/homeworks/nbproject/private/
/week1/homeworks/build/
/week1/classHomework/nbproject/private/
/week1/classHomework/build/
/week1/inheritanceHomeworks/nbproject/private/
/week1/inheritanceHomeworks/build/
/week1/figures/nbproject/private/
/week1/figures/build/
/week1/interfaceHomework/nbproject/private/
/week1/interfaceHomework/build/
/week1/diceHomework/nbproject/private/
/week1/diceHomework/build/
/week1/aditionalHomeworks/nbproject/private/
/week1/aditionalHomeworks/build/
/week1/DiamondHomework/nbproject/private/
/week1/DiamondHomework/build/
/week1/hexExceptionHomework/nbproject/private/
